
progress, trough {
   -progress-min-horizontal-bar-height: 20px;
   -trough-min-horizontal-bar-height:20px;
  min-height: 20px;
}

notebook {
 background-color: black;
 border: none;
}


webview {
 margin-top: 60px;
 margin-bottom: 60px;
}
